.GitOpsDeploymentManager--wrapper {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

.GitOpsDeploy--step {
  background-color: #ffffff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;

  &:last-child::after {
    display: none;
  }

  .step-title {
    font-size: 20px;
    font-weight: 700;
    color: #4A4A4A;
    margin-bottom: 12px;
    line-height: 28px;
  }

  .step-sub {
    font-size: 14px;
    font-weight: 500;
    color: #9B9B9B;
    margin-bottom: 20px;
    line-height: 22px;
  }
}